.css-qbe2hs {
    width: 100% !important;
}

.css-hi6a2p {
    max-width: 1200px;
}

.streamlit-expanderHeader {
    font-size: 1rem;
}

.stButton > button {
    width: 100%
}

/* div[data-testid="stForm"] {
    height:420px;
} */
