.css-qbe2hs {
    width: 100% !important;
}

.css-hi6a2p {
    max-width: 1200px;
}

.streamlit-expanderHeader {
    font-size: 1rem;
}

.stButton > button {
    width: 100%;
}

.card-link {
    margin-bottom: 3rem;
}

/* div[data-testid="stForm"] {
    height:420px;
} */

div.stMarkdown {
    margin-bottom: 0.75rem;
}
